
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

/* :root {
  --color-primary: #6b69d6;
  --color-bg: #1b1b42;
  --color-bg2: #4f4d9e;
  --color-bg3: #4e4d9e50;
  --color-white: #ffffff;
  --color-light: #f5f5f5;
  --transition: 0.4s ease;
} */

/* Custom Components */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-light);
  background-color: #242724;
 
  /* font-family: 'Open Sans'; */
font-family: 'Montserrat';

}


h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.1rem;
}
h5 {
  font-size: 0.95rem;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-white);
  line-height: 1.1;
}
a {
  color: var(--color-white);
  transition: var(--transition);
}

section {
  padding: 8rem 0;
}

section > h2 {
  text-align: center;
}

section > p {
  text-align: center;
  width: 40%;
  margin: 0.5rem auto 4rem;
}

p {
  line-height: 150%;
  font-size: 15px;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.btn {
  display: inline-block;
  width: fit-content;
  padding: 16px 32px;
  border: 2px solid transparent;
  cursor: pointer;
  background: var(--color-primary);
  color: var(--color-white);
  border-radius: 1rem;
  font-size: 18px;
  transition: var(--transition);
}

.btn:hover {
  background: transparent;
  border-color: var(--color-white);
}

.btn-white {
  background: transparent;
  border-color: var(--color-white);
}

.btn-white:hover {
  background: var(--color-white);
  color: var(--color-bg);
}

.btn-sm {
  padding: 10px 20px;
  font-size: 17px;
}

/* .................................Card................ */
.card {
  background-color: var(--color-bg3);
  padding: 1.5rem;
  border: 2px solid transparent;
  border-radius: 1.2rem;
  transition: var(--transition);
}

.card:hover {
  background: transparent;
  border-color: var(--color-white);
}

.card-primary {
  background: transparent;
  border-color: var(--color-white);
}

.card-primary:hover {
  background: var(--color-primary);
}

.container {
  max-width: 1420px;
  width: 90%;
  margin: 0 auto;
}
/* .......................................Start Navbar ........................................................*/
nav {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgb(61, 61, 65);
}

.nav-scroll {
  background-color: rgb(61, 61, 65);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
}
.nav-container h3 {
  font-style: italic;
  color: #62da5b;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-button {
  display: none;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav-link li a {
  color: var(--color-white);
  font-size: 17px;
  transition: var(--transition);
  display: inline-block;
  font-weight: bold;
}


/* .......................................End Navbar ........................................................*/

/* Start MenuBar @mediaquery code width 1024*/
.menu-bar {
  display: none;
}
/* End MenuBar @mediaquery code width */

/*  .......................Start Header section ........................................*/
header {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: grid;
  align-items: center;
}

.header-container {
  display: grid;
  grid-template-columns: auto 450px;
  align-items: center;
  height: 100%;
  padding-top: 2.5rem;
  gap: 2%;
  position: relative;
}



.header-left h2 {
  margin: 1rem 0;
}
.cv {
  margin: 0 1rem;
}


.header-left p {
  font-size: 19px;
  width: 94%;
  /* margin: 0.5rem 0 2rem; */
  margin: 0.5vh 0.5rem 2rem;
}

.header-right {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 450px;
}

.hero-image {
  position: absolute;
  width: 60%;
  height: 80%;
  background-color: var(--color-primary);
  border-radius: 20%;
  overflow: hidden;
  display: flex;
  box-shadow: rgb(52, 211, 153) 0px 0px 5px 3px;
}

.hero-image img {
  position: relative;
}






.Social-links {
  position: absolute;
  /* bottom: .1rem; */
  bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.Social-links a {
  font-size: 1.6rem;
  color: var(--color-white);
  transition: var(--transition);
}

.Social-links a:hover {
  color: var(--color-primary);
  transform: translateY(-0.5rem);
}

.HireMe {
  position: absolute;
  bottom: 2rem;
  text-decoration: underline;
  right: 0;
  font-size: 17px;
  transition: var(--transition);
}

.HireMe:hover {
  transform: translateY(-0.5rem);
  color: var(--color-primary);
}
/*  .......................End Header section ........................................*/

/*......................................... StratAbout Section..................................... */
#About {
  background: var(--color-bg);
  background: rgb(36, 39, 36);
}
.about-container {
  width: 70%;
}

.about-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 4rem;
}

.about-card {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.about-card span {
  width: fit-content;
  margin: 0 auto;
  padding: 0.8rem;
  font-size: 1.1rem;
  display: flex;
  border-radius: 0.4rem;
}
.about-card:hover span {
  background: var(--color-bg3);
}

.about-container h3 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.about-container p {
  margin-bottom: 1rem;
}
/*......................................... End About Section..................................... */

/*......................................... start Skills Section..................................... */
.para {
  width: 95%;
  color: #62da5b;
  font-style: italic;
  font-size: 2rem;
}

.skills-container {
  display: grid;
  grid-template-columns: 40% auto;
  gap: 4%;
}

.skills-left {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4%;
}

.skills-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
  text-align: center;
}

.skills-card span {
  font-size: 2rem;
}

.skills-right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.progess {
  position: relative;
}

.progess h5 {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.progess h5 i {
  font-size: 1.4rem;
}

.out-row {
  width: 100%;
  height: 0.1rem;
  background-color: rgba(1, 1, 17, 0.761);
  margin-top: 0.8rem;
  border-radius: 40px;
}

.inner-row {
  width: 100%;
  background-color: var(--color-primary);
  height: 100%;
  border-radius: 40px;
}
/*......................................... End Skills Section..................................... */

/* ............................Start Project Section............................................. */
.portfolio-tabs {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.tab-active {
  background: var(--color-white);
  color: var(--color-bg);
}

.portfolio-project {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3%;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  animation: projectAll var(--transition);
}



.project img {
  border-radius: 1rem;
}

.project h4 {
  font-size: 1.2em;
  text-align: center;
  letter-spacing: 0.5px;
  font-weight: 700;
  /* color: black; */
  color:  #FFF3CF;
}

.project .first {
  /* text-align: center; */
  text-align: center;
  letter-spacing: 0.5px;
  font-weight: 400;
  /* font-style: italic; */
  font-size: 1rem;
  color: #fff;
}

.project b {
  font-size: 1.2em;
  color:  #FFF3CF;
  letter-spacing: 0.5px;
}

.project p {
  font-size: 15px;
  letter-spacing: 0.3px;
  font-weight: 400;
  color: #fff;
  line-height: 2em;
}

.project-action-aria {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 1rem;
}
/* ............................End Project Section............................................. */

/* ............................Start Contact Section............................................. */
.hover:hover {
  color: #62da5b;
  cursor: pointer;
}
#Contact p:hover {
  color: #62da5b;
  cursor: pointer;
}
.container-contact {
  width: 60%;
  display: grid;
  grid-template-columns: 8rem auto;
  gap: 3%;
}

.contact-left {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}

.contact-left a {
  font-size: 1.6rem;
}

form input,
textarea {
  width: 100%;
  padding: 1.4rem;
  background: transparent;
  border: 2px solid var(--color-white);
  border-radius: 0.8rem;
  margin-bottom: 1rem;
  font-size: 16px;
  color: var(--color-white);
  resize: none;
}

form input::placeholder,
textarea::placeholder {
  color: white;
}
/* ............................End Contact Section............................................. */

footer {
  background: var(--color-bg2);
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* ............................Start Mediam scrin............................................. */
/* Max-width 1200 */
@media (max-width: 1200px) {
  h1 {
    font-size: 46px;
  }
}
/* Max-width 1024 */
@media (max-width: 1024px) {
  selection > p {
    width: 60%;
  }

  /* Start Navbar */
  nav {
    background-color: rgb(61, 61, 65);
  }

  .nav-link {
    display: none;
  }
  .menu-button {
    display: inline-block;
    background: transparent;
    color: var(--color-white);
    font-size: 1.6rem;
  }
  .menu-bar {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5rem;
    align-items: center;
    justify-content: center;
    background-color: rgb(61, 61, 65);
    transition: var(--transition);
    z-index: 2;
  }

  /* js handle class */
  .menu-none {
    bottom: -1000%;
    transition: var(--transition);
  }

  .menu-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
  }

  .menu-container a {
    font-size: 2rem;
    transition: var(--transition);
  }

  .menu-container a:hover {
    transform: scale(1.2rem);
  }

  /* Start header */
  header {
    height: 90vh;
  }
  .header-container {
    grid-template-columns: 1fr;
    padding: 0;
    padding-bottom: 5rem;
    text-align: center;
  }
  .header-container::after {
    right: -951%;
  }

  .header-right {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    grid-row: 1;
    padding-top: 12rem;
  }

  .moon {
    right: 45px;
  }

  /* Start About */
  .about-container {
    width: 80%;
  }
  .about-card {
    gap: 2rem;
  }

  /* Start protfolio */
  .portfolio-project {
    grid-template-columns: 1fr 1fr;
  }

  /* Start contact*/
  .container-contact {
    width: 70%;
  }
}

/* Max-width 600px */
@media (max-width: 600px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  p {
    font-size: 15px;
  }
  .btn {
    padding: 12px 26px;
  }

  /* Start Nav width 412 px device */
  nav {
    height: 4rem;
  }

  .logo h3 {
    font-size: 1.5rem;
  }

  .menu-button {
    font-size: 1.5rem;
  }

  /* Start menu width 412 px device */

  .menu-bar {
    height: 4rem;
  }

  .menu-container {
    gap: 1rem;
    justify-content: space-between;
    /* margin-top: 6rem; */
  }

  .menu-container a {
    font-size: 1.3rem;
  }

  /* Start header */
  header {
    height: 100vh;
  }

  .header-right {
    height: 280px;
    width: 280px;
  }

  .moon {
    height: 1rem;
    width: 1.5rem;
    right: 20px;
    top: 35px;
  }

  .header-container {
    padding: 0;
  }

  .header-container p {
    width: 100%;
  }

  .HireMe {
    display: none;
  }

  .Social-links {
    justify-content: center;
    position: relative;
  }

  .header-left {
    padding-top: 4rem;
  }

  /* Start About */
  .about-container {
    width: 90%;
  }

  .about-cards {
    grid-template-columns: 1fr 1fr;
    gap: 4%;
  }

  .about-container h3 {
    padding-top: 1rem;
    /* text-align: center; */
  }

  /* Start Skills*/
  .skills-container {
    grid-template-columns: 1fr;
  }

  .skills-container p {
    margin: 2rem;
    /* font-size: 20px; */
  }

  /* Start Porfolio*/
  .portfolio-tabs {
    gap: 1rem;
  }

  .portfolio-tabs .btn-sm {
    padding: 8px 18px !important;
  }

  .portfolio-project {
    grid-template-columns: 1fr;
    gap: 1.4em;
  }

  /* Start Contact*/

  .container-contact {
    width: 90%;
    grid-template-columns: 1fr;
  }

  .contact-left {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  header {
    height: 0%;
    grid-template-columns: 1fr;
    gap: 5rem;
  }

  .cv {
    margin: 1rem;
    margin-bottom: 3rem;
  }

  .Social-links {
    overflow: hidden;
  }
  .HireMe {
    display: none;
  }

  #Skills .para {
    /* width: 94%; */
    font-size: 19px;
    /* padding-left: 1.1rem; */
  }

  .skills-card h5 {
    font-size: 1.3rem;
  }

  .skills-card small {
    font-size: 1rem;
  }

  .skills-right {
    margin-top: 3rem;
  }

  .skills-right h5 {
    font-size: 1.1rem;
  }
}
